#dhd-popover-backdrop {
  align-items: center;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999999999;
}
#dhd-popover {
  background-color: #fff;
  box-sizing: border-box;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-height: 90vh;
  width: 80vw;
  overflow: hidden;
  position: relative;
  text-align: left;
}

#dhd-popover * {
  box-sizing: border-box;
}

#dhd-popover button,
#dhd-popover input,
#dhd-popover optgroup,
#dhd-popover select,
#dhd-popover textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

#dhd-popover button,
#dhd-popover input {
  overflow: visible;
}

#dhd-popover button,
#dhd-popover select {
  text-transform: none;
}

#dhd-popover button {
  height: 30px;
  outline: none;
  width: 30px;
}

#dhd-popover .flex {
  display: flex;
}

#dhd-popover .hidden {
  display: none !important;
}

#dhd-popover .section-heading {
  cursor: pointer;
}

#dhd-popover .section-heading .text {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#dhd-popover .btn.btn-primary {
  background-color: #0f8bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
#dhd-popover .btn-primary:not(:disabled):not(.disabled).active,
#dhd-popover .btn-primary:not(:disabled):not(.disabled):active,
#dhd-popover .show>.btn-primary.dropdown-toggle {
  background-color: #0062cc;
  border-color: #005cbf;
  color: #fff
}
#dhd-popover .btn-primary:not(:disabled):not(.disabled).active:focus,
#dhd-popover .btn-primary:not(:disabled):not(.disabled):active:focus,
#dhd-popover .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38,143,255,0.5);
}

#dhd-popover .btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

#dhd-popover .field-label {
  color: #777;
  display: block;
  font-size: 0.85em;
  margin-bottom: 4px;
}
#dhd-popover .form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  width: 100%;
}
#dhd-popover textarea.form-control {
  height: auto;
}
#dhd-popover .form-group {
  margin-bottom: 1rem;
}

#dhd-popover .capture-form-container,
#dhd-popover .section-container .form-group {
  max-height: 90vh;
  overflow: visible;
  overflow-y: scroll;
  padding-bottom: 4.25rem;
  padding-right: 1em;
}

#dhd-popover .save-btn-container {
  background-color: #fff;
  bottom: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  position: absolute;
  right: 1em;
  width: calc(350px - 2em);
}

#dhd-popover .tabs {
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}

#dhd-popover .tabs .tab {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 0.5em 0;
  text-align: center;
  width: 50%;
}

#dhd-popover .tabs .tab:hover {
  background-color: #f0f0f0;
}

#dhd-popover .tabs .tab:disabled {
  cursor: not-allowed;
}
#dhd-popover .tab.active {
  border-bottom: 2px solid #0f8bff;
}

#dhd-popover .section-container,
#dhd-popover .capture-container {
  padding: 1em 0 1em 1em;
  width: 350px;
}

#dhd-popover .captured-selection {
  background-color: #f9f9f9;
  font-size: 0.8em;
  margin-bottom: 1em;
}

#dhd-popover .captured-selection::-webkit-scrollbar {
  width: 12px;
}

#dhd-popover .capture-container textarea {
  overflow: hidden;
  resize: none;
}

#dhd-popover textarea.note-field {
  min-height: 7em;
}

#dhd-popover #custom_fields {
  /*overflow-wrap: break-word;*/
  color: #666;
}

#dhd-popover #custom_fields .prop-value {
  font-size: 0.9em;
  overflow-wrap: break-word;
  white-space: pre-wrap
}

#dhd-popover #custom_fields .prop-name {
  font-size: 0.9em;
  font-weight: 550;
}

#dhd-popover #custom_fields .divider {
  background-color: #ddd;
  height: 1px;
  margin: 1em;
}

#dhd-popover .overlay {
  align-items: start;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 350px;
}
#dhd-popover .dhd-success {
  background: #cfc;
  border: solid 1px #191;
  padding: 1rem;
}
#dhd-popover #thumbnails {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-content: center;
  max-height: 90vh;
  overflow-y: auto;
  padding: 1rem 0 1rem 1rem;
}
#dhd-popover #thumbnail:empty {
  display: none;
}
#dhd-popover .thumbnail {
  display: block;
  width: 100%;
}
#dhd-popover #thumbnails input {
  display: none;
}
#dhd-popover input:checked + label > img {
  border: solid 1px #709bcc;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.062),
    0 6.7px 5.3px rgba(0, 0, 0, 0.089),
    0 12.5px 10px rgba(0, 0, 0, 0.11),
    0 22.3px 17.9px rgba(0, 0, 0, 0.131),
    0 41.8px 33.4px rgba(0, 0, 0, 0.158),
    0 100px 80px rgba(0, 0, 0, 0.22)
    ;
  filter: saturate(1.5);
}

@media screen and (min-width: 64rem) {
  #dhd-popover #thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 80rem) {
  #dhd-popover #thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 90rem) {
  #dhd-popover {
    max-width: 72rem;
  }
}
