body {
  min-width: 250px;
  position: relative;
}

button {
  height: 30px;
  outline: none;
  width: 30px;
}

.flex {
  display: flex;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(0,0,0,0.2);
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
}

.hidden {
  display: none !important;
}

.section-heading {
  cursor: pointer;
}

.gray-text {
  color: #777;
}

.section-heading .text {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.btn.btn-primary {
  background-color: #0f8bff;
}

.inline-block {
  display: inline-block;
}

i.small-icon {
  font-size: 0.8em;
}

.field-label {
  color: #777;
  font-size: 0.85em;
  margin-bottom: 4px;
}

#screenshot_img {
  width: 100%;
}

.capture-form-container {
  overflow: visible;
  overflow-y: scroll;
  padding-bottom: 2em;
}

/*.capture-form-container::-webkit-scrollbar {
  width: 12px;
}*/

.save-btn-container {
  background-color: #fff;
  padding-top: 1em;
}

.permission-bar {
  background-color: #CBE6FF;
  font-size: 0.9em;
  padding: 0.5em 0;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.btn-icon {
  margin-top: -4px;
  width: 14px;
}

.tabs {
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}

.tabs .tab {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 0.5em 0;
  text-align: center;
  width: 50%;
}

.tabs .tab:hover {
  background-color: #f0f0f0;
}

.tabs .tab:disabled {
  cursor: not-allowed;
}
.tab.active {
  border-bottom: 2px solid #0f8bff;
}

.section-container,
.capture-container {
  padding: 1em;
  width: 350px;
}


.captured-selection {
  background-color: #f9f9f9;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.captured-selection::-webkit-scrollbar {
  width: 12px;
}

.capture-container textarea {
  min-height: 5em;
  overflow: hidden;
  resize: none;
}

textarea.note-field {
  min-height: 7em;
}

.search-box-container {
  border-bottom: 1px solid #eee;
  padding: 1em;
}

.search-box {
  border: none;
  border-bottom: 1px solid #eee;
  width: 100%;
  /*margin: 1em;*/
}

.search-box:focus {
  outline: none;
}

.search-results {
  background-color: #f0f0f0;
  max-height: 550px;
  min-height: 100px;
  overflow-y: scroll;
  padding: 1em;
}

.search-results .list-item {
  background-color: white;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  -moz-box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  margin-bottom: 1em;
  overflow-wrap: break-word;
  padding: 1em;
}

.list-item .title {
  margin-bottom: 0.5em;
}

.list-item .title a {
  font-size: 1.15em;
}

.list-item .text-body {
  color: #666;
  font-size: 0.9em;
}

.search-results .heading {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.list-item .timestamp {
  color: #888;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

#custom_fields {
  /*overflow-wrap: break-word;*/
  color: #666;
}

#custom_fields::-webkit-scrollbar {
  width: 14px;
}

#custom_fields .prop-value {
  font-size: 0.9em;
  overflow-wrap: break-word;
  white-space: pre-wrap
}

#custom_fields .prop-name {
  font-size: 0.9em;
  font-weight: 550;
}

#custom_fields .divider {
  background-color: #ddd;
  height: 1px;
  margin: 1em;
}

.collections-dropdown-container {
  position: relative;
}

.collections-dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  -webkit-box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  -moz-box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  box-shadow: 0px 5px 4px 0px rgba(171,171,171,1);
  /*padding: 0.75em;*/
  position: absolute;
  width: 100%;
  z-index: 2;
}

.as-msg {
  font-size: 0.9em;
  padding: 0.5em 0.75em;
}

.as-result {
  color: #666;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.5em 0.75em;
}

.as-result:hover {
  background-color: #eff7ff;
  outline: none;
}

.collections-selected {
  align-items: flex-start;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: flex;
  flex-shrink: 0;

  flex-wrap: wrap;
  max-height: 240px;
  padding: 0.375rem 0.75rem;
}

.collections-selected .token {
  align-items: center;
  background-color: #eff7ff;
  display: flex;
  flex-shrink: 1;
  height: 18px;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 2px 6px;
}

.token .remove-btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 18px;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  width: 18px;
}

.results {
  max-height: 200px;
  overflow-y: scroll;
}

.results::-webkit-scrollbar {
  width: 10px;
}

.collections-dropdown .collections-search-container {
  align-items: center;
  display: flex;
  flex: 1;
  min-width:  100px;
}

.collections-search {
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  padding-bottom: 0.5em;
  width: 100%;
}

.collections-search:focus {
  outline: none;
}
